<html>

<head>
  <title>
    Yale | πpo 2018-1
  </title>
</head>
<h1>
  πpo
</h1>
<div>
  <div id="lista">
    <div id="nombre">
      Juan Sebastián Díaz Serrano
    </div>
    <div id="codigo">
      201532686
    </div>
  </div>

  <div>
    <div id="nombre">
      Carlos Mario Sarmiento Pinilla
    </div>
    <div id="codigo">
      201512466
    </div>
  </div>
  <div>
    <div id="nombre">
      Sergio Eduardo Cárdenas Landazábal
    </div>
    <div id="codigo">
      201613444
    </div>
  </div>

  <div>
    <div id="nombre">
      Sergio Guzmán Mayorga
    </div>
    <div id="codigo">
      201614859
    </div>
  </div>

  <div>
    <div id="nombre">
      Julián Alberto Manrique Puerto
    </div>
    <div id="codigo">
      201615449
    </div>
  </div>
</div>

<div>
  <p>Rutas:</p>
  <ul>
    <li>
      <b>/yale</b>: Retorna la información de todas las unidades residenciales y cada uno de sus inmuebles.
    </li>
    
    <hr>
    
    <li>
      <b>/unidadResidencial/&lt;nombreUnidadResidencial&gt;</b>: Retorna información de la unidad residencial con el nombre pasado por parámetro. Incluye cada inmueble asociado a la unidad residencial.
    </li>
  </ul>
</div>

<style>
  html{
    height: 100%;
    font-family: fantasy;
    background-color: #fff;
    background: linear-gradient(#22a0ff, #eeeeee)
  }
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
  }
  #nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
  #codigo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }

</style>

</html>