.apartment-icon {
    z-index: -1;
  height: 100px;
  width: 100%;
  background: rgb(189, 195, 199);
  border: 1px black solid;
  justify-content: center;
  align-items: center;
}


  

.apartment-window1 {
    height: 30px;
    width: 30px;
  display: inline-block;
  background-color: rgb(52, 152, 219);
  border-radius: 50%;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  top: 25px;
}

.apartment-window2{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: rgb(52, 152, 219);
    border-radius: 50%;
    position: absolute;
    right: 25%;
    transform: translateX(50%);
    top: 25px;
}

.apartment-door {
  height: 50px;
  width: 30px;
  display: inline-block;
  background-color: rgb(230, 126, 34);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
}

.apartment-door::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
    top:55%;
}


.apartment-door::after {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(241, 196, 15);
    position: absolute;
    right: 5%;
    transform: translateX(-50%);
    top:50%;
}


